HTML:

<div></div>

CSS:

div {
    width: 100px;    /* any width */
    height: 100px;   /* any height */
    background-color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
